<%= form_for([@log, @log.comments.build]) do |f| %>


<div class="comment">
  <div class="control">
    <p>
  <%= f.label :comment %><br>
  <%= f.text_area :content %>
 </p>
  </div>
<%= f.submit :reply, class: "button" %>
</div>
<% end %>