Comments:
  <% @log.comments.each do |comment| %>
    <td><%= comment.content %></td>
  <% end %>

<h1>Leave a reply!</h1>
<%= render partial: "comments/form", locals: {comment: @comment, button_name: "reply"} %>