<h1 class="log">Routes Page!</h1>

<h3 class="log"><br><%= @route.name %>  has the following logs:
 
 <% @route.logs.each do |l| %>
  <%= link_to l.log_date, log_path(l.id) %>
<% end %>
<br><br>
</h3>
